{{define "content"}}
<h1>Boas vindas ao Heroes of Cube!</h1>
<span style="font-size: 78px; line-height: 1">🧙‍♂️</span>
<p>Se divirta com a gente nesse minigame de RPG</p>

<h2>Participe</h2>
<ol>
    <li>Acesse o chat da Twitch: <a href="https://twitch.tv/teomewhy">twitch.tv/teomewhy</a></li>
    <li>Participe do nosso sistema de pontos digitando: <code>!join</code></li>
    <li>
        Crie seu personagem: <code>!create</code>
        <ul>
            <li>Escolha uma raça e uma classe</li>
            <li>Raças: dwarf | elf | hobbit | human | poney</li>
            <li>Classes: mage | thief | warrior | bard | cleric</li>
            <li>Exemplo: <code>!create elf mage</code></li>
        </ul>
    </li>
    <li>Obtenha seus loots diários: <code>!loot</code></li>
    <li>Confira seu inventário: <code>!inventory</code></li>
</ol>

<iframe src="https://www.twitch.tv/embed/teomewhy/chat?parent=localhost" height="500" width="300"></iframe>
{{end}}