{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes of Cube</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>

<body>
    <header>
        <h1>Heroes of Cube</h1>
    </header>
    <main>
        {{template "content" .}}
    </main>
    <footer>
        <p>&copy; 2023 Heroes of Cube</p>
    </footer>
</body>

</html>
{{end}}